.banner {
    text-align: center;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
  }
  .banner h1 {
    font-family: "Trixie-Cameo" !important;
    font-size: 1.9rem !important;
    /*text-transform: uppercase;*/
    margin-bottom: 1.2rem !important;
    padding: 0 1rem;
    letter-spacing: 6px;
  }
  .banner p {
    /*width: 100%;*/
    margin:  auto;
    margin-bottom: 2rem;
    font-family: 'URWDIN-XLight', sans-serif;
    font-size: 0.8rem;
    font-style: italic;
  }
  .marca {
    color: rgb(252, 7, 7) !important;
  }
  .margen{
    margin-top: 1rem;
  }
  @media screen and (min-width: 768px) {
    .banner h1 {
      font-size: 5rem;
      margin-bottom: 1.5rem;
    }
    .banner p {
      margin-top: 1.5rem !important;
      font-size: 1.2rem;
      /*width: 60%;*/
     
    }
  }