.footer {
  margin-top:auto;
  background: var(--darkGrey);
  padding: 2rem;
  text-align: center;
  color: var(--mainWhite);
}
.links a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin: 0.5rem 1rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-weight: lighter;
}
.links a:hover {
  color: var(--mainBlack);
}
.icons a {
  display: inline-block;
  margin: 1rem;
  font-size: 1.3rem;
  color: var(--mainWhite);
  transition: var(--mainTransition);
}
.icons a:hover {
  color: var(--primaryColor);
}
.copyright {
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.3rem;
  letter-spacing: var(--mainSpacing);
  line-height: 2;
}
.logo{
  max-width:120px;
  margin: auto;
  font-style: italic!important;
}
.credito{
  font-size: 0.5rem !important;
  letter-spacing: var(--mainSpacing);
  color: var(--mainGrey);
}
