.despacho {
    padding: 3rem 0;
    margin: 2rem 0;
  }
  .center {
    width: 85vw;
    margin: 0 auto;
  }
  .despacho h1,
  .despacho h4 {
    font-family: TheSerifBold;
    text-transform:none;
    line-height: 2.2rem;
  }
  .despacho h1{
    font-size: 1.6rem;
  }  
  .despacho img {
    max-width: 70vw;
  }
  .parrafito{
    margin-top: 1.5rem;
  }
  .next{
    font-style: italic;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .nextup{
    font-style: italic;
    text-transform: uppercase;
    color: rgb(255, 123, 0);
    font-weight: bold;
    font-size: 1.25rem;
  }
.image {
    box-shadow: var(--lightShadow);
  }
  @media screen and (min-width: 1200px) {
    .center {
      width: 66vw;
      max-width: 1170vw;
    }
  }