.despacho {
    padding: 3rem 0;
  }
  .center {
    width: 66vw;
    margin: 0 auto;
  }
  .despacho h1,
  .despacho h4 {
    text-transform: uppercase;
    line-height: 2.35rem;
  }
  .despacho h1{
    font-size: 2rem;
  }

  .despacho {
    margin: 2rem 0;
  }
  .despacho img {
    max-width: 70vw;
  }
  .parrafito{
    margin-top: 1.5rem;
  }
  .next{
    font-style: italic;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .nextup{
    font-style: italic;
    text-transform: uppercase;
    color: rgb(255, 123, 0);
    font-weight: bold;
    font-size: 1.25rem;
  }
